/* reset default styles */




header {
display: flex;
justify-content: center;
align-items: center;
font-family: oswald;
height: 100px;;
}

body {
}
ul {
  list-style: none;
  padding-left: 0;
}

/* cards container */
.charContainer {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px; 
  justify-content: center;
   text-align: center;
}

/* character card container */
.charCard {
  background-color:white(0000, 303030);

  border: 1px solid rgb(0, 0, 0);
  margin: 5px;
  padding-bottom: 20px;
}

/* character card header */
// .charHeadContainer {
//  position: relative;
//   display: flex;
//   justify-content: center;  
//   align-items: center;
//   margin: 10px 0;
// }

//css to scss below // .charHeadContainer{
     charHeadContainer h2{}
.charHeadContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  h2 {
    margin-bottom: 0;
    align-items: center;
    text-align: center;
  }
}
///sass below
// .charHeadContainer
//   position: relative
//   display: flex
//   justify-content: center
//   align-items: center
//   margin: 10px 0

//   h2
//     margin-bottom: 0
//     align-items: center
//     text-align: center
///
// .charHeadContainer h2 {
//   margin-bottom: 0;
//   align-items: center;
//   text-align: center;
// }
//////

.charHeadContainer .favIcon {
position: absolute;
right: 10px;
top: 10px;
margin-top: 15px;
align-self: flex-start;
padding-right: 10px;
}

/* character additional details - films */
.charAddlDetail {
  margin-top: 0;
  margin-bottom: 0;
}

.charFilmsList {
  margin-top: 0;
}

.charFilm {
  margin-left: 0.5rem;
}

.charDetailsList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Cabin';
}

.charDetailsList li{ 
  margin:5px;
}

.primaryButton{

}

.secondaryButton{

}

