/* reset default styles */




header {
display: flex;
justify-content: center;
align-items: center;
font-family: oswald;
height: 100px;;
}

body {
}
ul {
  list-style: none;
  padding-left: 0;
}

/* cards container */
.charContainer {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px; 
  justify-content: center;
   text-align: center;
}

/* character card container */
.charCard {
  background-color:white(0000, 303030);;

  // border: 1px solid rgb(0, 0, 0);
  border: 1px solid black;
  margin: 5px;
  padding: 20px;
  box-shadow: 0px 2px 5px 1px rbga(0, 0, 0, 0.05);

  // padding-bottom: 20px;
}

/* character card header */
// .charHeadContainer {
//  position: relative;
//   display: flex;
//   justify-content: center;  
//   align-items: center;
//   margin: 10px 0;
// }

//css to scss below // .charHeadContainer{
     charHeadContainer h2{}
.charHeadContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  margin: 10px 0;

  h2 {
    margin-bottom: 0px;
    align-items: center;
    text-align: center;
  }
}
///sass below
// .charHeadContainer
//   position: relative
//   display: flex
//   justify-content: center
//   align-items: center
//   margin: 10px 0

//   h2
//     margin-bottom: 0
//     align-items: center
//     text-align: center
///
// .charHeadContainer h2 {
//   margin-bottom: 0;
//   align-items: center;
//   text-align: center;
// }
//////

.charHeadContainer .favIcon {
position: absolute;
right: 10px;
top: 10px;
margin-top: 15px;
align-self: flex-start;
padding-right: 10px;
}

/* character additional details - films */
.charAddlDetail {
  margin-top: 0;
  margin-bottom: 0;
}

.charFilmsList {
  margin-top: 0;
}

.charFilm {
  margin-left: 0.5rem;
}

.charDetailsList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Cabin';
}

.charDetailsList li{ 
  margin: 5px;
  align-items: center;
}

.primaryButton{
 background-color: lightblue;
 font-family:'Times New Roman', Times, serif;
 font-size: 14px;
 color: white;
 padding: 6px 20px;
 border: none;
}

.secondaryButton{
background-color: white;
font-size: 14px;
font-family: 'Times New Roman', Times, serif;
border: solid 1px;
padding: 6px 10px;
}

